@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
  --primary: #f45422;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
}
